.payment-form{
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.payment-form.main{
    background-color: #d8e7e7;
}
.payment-form .content{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: #f6f6f6;
}
.payment-form .block-heading{
    padding-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.payment-form .block-heading p{
    text-align: center;
    max-width: 410px;
    margin: auto;
    opacity: 0.6;
}
.payment-form.main .block-heading p{
    opacity: 0.4;
}
.payment-form .block-heading h1,
.payment-form .block-heading h2,
.payment-form .block-heading h3{
    margin-block-end: 1.2rem;
    color: #4f93c7;
}
.payment-form form{
    border-top: 2px solid #5c9bcc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: #d8e7e7;
    padding: 0;
    max-width: 700px;
    margin: auto;
}
.payment-form .title{
    font-size: 1em;
}
.payment-form .products{
    background-color: #d8e7e7;
    padding: 25px;
}
.payment-form .products .item-desc{
    font-size: 0.8em;
    opacity: 0.6;
}